<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>690698974418-05ni0ohnbkghgpvj9lhdosu0eev1sf9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.690698974418-05ni0ohnbkghgpvj9lhdosu0eev1sf9n</string>
	<key>API_KEY</key>
	<string>AIzaSyAlPjrkIQU80VM5JlRKKi_gZrY2k8Nn_us</string>
	<key>GCM_SENDER_ID</key>
	<string>690698974418</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hung.godme</string>
	<key>PROJECT_ID</key>
	<string>godme123-382cd</string>
	<key>STORAGE_BUCKET</key>
	<string>godme123-382cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:690698974418:ios:f27c0e085bdc1be0b9290b</string>
	<key>DATABASE_URL</key>
	<string>https://godme123-382cd.firebaseio.com</string>
</dict>
</plist>